body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #c8d66e, #d2ffc8, #8890e6) no-repeat fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --primary: #4f4fe2;
  --secondary: #5d60f3;
  --secondary-light: #c1df02;
  --white: #fbf7f7;
  --black: #000000;
  --ff-primary: sans-serif;
  --ff-serif: serif;
  --fs-200: 0.6rem;
  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.1rem;
  --fs-600: 1.5rem;
  --fs-900: 1.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-primary);
  color: var(--black);
}

button {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  color: var(--black);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li,
ol li {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}