.header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--primary);
  border-bottom: 1px solid var(--black);
  box-shadow: inset 0 0 5px var(--secondary-light);
}